button, option {
    background-color: #f0f2;
    border-radius: 10px;
    border: solid #000 1px;
    transition: all 0.2s ease;
    margin: 2px 3px;
}
button:hover, option:hover {
    background-color: #f0f4;
    cursor: pointer;
}
#canv {
    border: solid #000 1px;
}
circle {
    transition: all 0.2s ease;
}
input {
    margin: 2px 3px;
}
.monospace {
    font-family: "Consolans";
}
.unimplemented {
    color: #f77;
}
option.unimplemented:hover {
    color: #f99;
    cursor: not-allowed;
}

